*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/* encabezado */
.arriba{
    margin-bottom: 20px;
    padding-right: 84.9%;
    position:absolute;
    background:linear-gradient(#4654a3,#270949);

}
.arriba,h1,h2{
    padding-left: 50px;
    padding-top: 10px;
    color: #fff;
}
.arriba ,h2{
    font-weight: lighter;
    font-size: 20px; 
}
.btn-menu{
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    margin-top: 90px;
}

/*Cuerpo*/
h3{
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    color: #fff;
}
body{
    justify-content: center;
    align-items: center;
    background:  #270949;
}
.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
    gap: 80px;
    margin-left: 360px;
}
.card{ 
    padding: 500px;
    margin-top: 250px;
    border-radius: 12px;
    width: 280px;
    height: 500px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgb(255, 255, 255);
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    offset-anchor: 1;
}
.card img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: rgb(219, 219, 252);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(255, 255, 255, 0.5);
}
.icon{
    position: absolute;
    margin-top: 45%;
    font-size: 30px;   
}
a{
    gap: 400px;
    color: #fff;
    display: inline-block;
}